<div class="content">
    <div class="nav-menu">
        <button class="nav-button" mat-button (click)="navigatesToPage('planning')">Tervezés</button>
        <button class="nav-button nav-button-active" mat-button (click)="navigatesToPage('contracts')">Szerződéskötés</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('movements')">Mozgások</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('billing')">Számlázás</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('controlling')">Kontrolling</button>
    </div>
    <h2>Szerződéskötés</h2>
    <button class="nav-button" mat-button (click)="navigatesToPage('contract-database')">Szerződések adatbázis</button>
    <div class="divider">
    </div>
    <img src="assets/logo.PNG" alt="">
</div>