<div class="content">
    <div class="nav-menu">
        <button class="nav-button" mat-button (click)="navigatesToPage('')">Kezdőlap</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('planning')">Tervezés</button>
        <button class="nav-button nav-button-active" mat-button (click)="navigatesToPage('contracts')">Szerződéskötés</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('movements')">Mozgások</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('billing')">Számlázás</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('controlling')">Kontrolling</button>
    </div>
    <span class="flex-center">
        <h2>Szerződéskötés</h2>
        <button class="nav-button" mat-button (click)="navigatesToPage('contract-database')">Szerződések adatbázis</button>
    </span>
    <div class="divider">
    </div>
    <div class="image-wrapper">
        <img src="assets/logo.PNG" alt="">
        <img src="assets/contract.jpg" alt="" height="220">
    </div>
</div>