<div class="content">
    <div class="nav-menu">
        <button class="nav-button" mat-button (click)="navigatesToPage('')">Kezdőlap</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('planning')">Tervezés</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('contracts')">Szerződéskötés</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('movements')">Mozgások</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('billing')">Számlázás</button>
        <button class="nav-button nav-button-active" mat-button (click)="navigatesToPage('controlling')">Kontrolling</button>
    </div>
    <span class="flex-center">
      <h2>Kontrolling</h2>
      <div class="nav-menu">
        <button class="nav-button" mat-button (click)="navigatesToPage('controlling-page')">Kontrolling</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('invoice-controlling')">Számla kontrolling</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('projekt-controlling')">Projekt kontrolling</button>
      </div>
    </span>
    <div class="under-cont-element">
        <img src="assets/controlling.jpg">
    </div>
  </div>