<div class="content">
    <div class="nav-menu">
        <button class="nav-button" mat-button (click)="navigatesToPage('')">Kezdőlap</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('planning')">Tervezés</button>
        <button class="nav-button nav-button-active" mat-button (click)="navigatesToPage('contracts')">Szerződéskötés</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('movements')">Mozgások</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('billing')">Számlázás</button>
        <button class="nav-button" mat-button (click)="navigatesToPage('controlling')">Kontrolling</button>
    </div>
    <h2>Szerződés adatbázis</h2>
    <app-table
        [dataSource]="dataSource"
        [displayedColumns]="displayedColumns">
    </app-table>
</div>